######################################################
# Below is an example of what to include in your .gitignore file. (The .gitignore 
#file is a list of files we don't want to track in git.) Usually, we 
#don't track the .gitignore file. Here, we're adding it to the repository just
#so you have an exemple to follow. To use this file, delete this header
#and remove the pound sign in the lines below
#######################################################
#.gitignore
#figs
#*.pyc

# Exclude saved plots and data by default
/data/*
/figs/*

# Exclude system files associated with some IDE/code editors
.vscode/
.spyproject/

# Exclude Jupyter Notebook Checkpoints
.ipynb_checkpoints/